# Node.js & Vite
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# .NET & C#
[Bb]in/
[Oo]bj/
.vs/
.vscode/*
!.vscode/extensions.json
*.user
*.userosscache
*.sln.docstates
*.suo

# OS & Logs
.DS_Store
Thumbs.db
*.log
